<!-- order_detail.html page -->
{% extends 'shop/base.html' %}

{% block content %}

<div class="container my-5">
      <h1 class="text-center mb-4">تفاصيل الطلب</h1>
      <div class="row">
            <div class="col-md-6 mb-4">
                  <div class="card">
                        <div class="card-header">
                              <h3>معلومات الطلب</h3>
                        </div>
                        <div class="card-body">
                              <p><strong>رقم الطلب:</strong> {{ order.id }}</p>
                              <p><strong>الحالة:</strong> {{ order.status }}</p>
                              <p><strong>المبلغ:</strong> {{ order.total }} L.E</p>
                        </div>
                  </div>
            </div>
            <div class="col-md-6 mb-4">
                  <div class="card">
                        <div class="card-header">
                              <h3>معلومات الدفع</h3>
                        </div>
                        <div class="card-body">
                              <p><strong>طريقة الدفع:</strong> {{ order.payment_method }}</p>
                              <p><strong>الحالة:</strong> {{ order.payment_status }}</p>
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}